<!DOCTYPE html>
<html>
<head>
    <title>Success Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <div>
    <h2>Form Submitted Successfully!</h2>

    <p><strong><b>Name:</b></strong> <%= user.name %></p>
    <p><strong><b>Email:</b></strong> <%= user.email %></p>
    <p><strong><b>Age:</b></strong><%= user.age %></p>
    <p><strong><b>Gender:</b></strong> <%= user.gender %></p>
  </div>
    <a href="/">Go Back</a>
</div>
</body>
</html>
